@import url('reset.css');

body, h1, h2, h3, h4, input, textarea, button, select, figcaption {
      font-family: -apple-system, helvetica, sans-serif; color: #333;
      font-size: 15px; line-height: 24px; font-weight: 300; -webkit-font-smoothing: antialiased; }

header, nav, section, footer { margin-bottom: 48px; }
div p:last-child,
div blockquote:last-child,
div ul:last-child { margin-bottom: 0; }

h1,h2,h3,h4,h5,h6,p,ul,ol,dl,pre,table,fieldset { margin-bottom: 24px; }

h1 { font-size: 22px; line-height: 48px; font-weight: 800; }
h2 { font-size: 15px; line-height: 24px; font-weight: 700; }
h3 { font-weight: 600; }
h4 { font-weight: 300; color: rgb(120,120,120); }
h5 { font-weight: 400; color: rgb(120,120,120); }
h6 { font-weight: 400; color: rgb(120,120,120); }

h1 a, h2 a, h3 a, h4 a { color: black; text-decoration: none; }
h4 a { color: rgb(120,120,120); }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: none; }

h2+h3, h3+h4,
h1+p, h2+p, h3+p, h4+p, h5+p, h6+p,
h2+ul, h3+ul, h4+ul, h5+ul, h6+ul { margin-top: -24px; }

h5+h5 { margin-top: -24px; }

h2 small { font-weight: 300; }

h1 em { font-style: normal; font-weight: 300; color: rgb(120,120,120); }

ul { list-style: disc; }
ol { list-style: decimal; }
ul.plain { list-style: none; }

a { color: #333; font-weight: 500; cursor: pointer; }

strong { font-weight: 700; }
em { font-style: italic; }

code { font-family: "SFMono-Light", Menlo, monospace; font-size: 12px; }
pre code { display: inline-block; line-height: 16px; color: #fff; }
pre { padding: 12px; width: 100%; background: #333; overflow: scroll; border-radius: 4px; }

small { color: rgb(120,120,120); }

hr { margin: 0 144px 47px 144px; padding-top: 48px; border-bottom: 0.5px solid rgba(0,0,0,.15); }

blockquote { position: relative; margin: 0 0 24px -12px; padding-left: 11px; border-left: 1px solid #333; }

table { margin-left: -16px; }
th { font-weight: 600; }
th, td { padding: 0 16px; box-shadow: inset 1px -1px 0 rgb(240,240,240); }
th { box-shadow: inset 0 -2px 0 rgb(0,0,0), inset 1px 0 0 rgb(240,240,240); }
tr td:last-child { padding-right: 0; }
tr:last-child td { box-shadow: inset 1px 0 0 rgb(240,240,240); }


textarea, input { display: block; padding: 24px; width: 100%; border: none; background: #fff; }
textarea, input, form { margin-bottom: 12px; box-shadow: inset 0 -1px 0 rgb(240,240,240); }
textarea { min-height: 240px; }
form { margin-bottom: 0; padding-bottom: 0; box-shadow: none; }

button { display: inline-block; margin-right: 16px; margin-bottom: 16px; padding-bottom: 16px; background: none; border: none; color: rgb(94,85,164); user-select: none; -webkit-user-select: none; font-weight: 600; }
button[type=cancel] { color: rgb(120,120,120); font-weight: 300; }
button[type=delete] { float: right; color: rgb(252,51,153); }

.submit, .cancel { margin-right: 12px; padding: 24px; min-width: 240px; background: #333; color: #fff; text-align: center; font-weight: 500; }
.submit:hover, .cancel:hover { text-decoration: none; }
.submit {}
.cancel { opacity: .2; }
.cancel:hover { opacity: 1; }

img { width: 100%; }

.error { margin-bottom: 12px; color: rgb(250,50,0); }
.error p, .error button { margin: 0 12px 0 0; padding: 0; display: inline-block; }
.error button { padding: 0 12px; background: rgb(250,50,0); border-radius: 4px; color: white; }

@media (max-width: 1025px) {  /* iPad Pro landscape */
}

@media (max-width: 801px) {   /* iPad Pro portrait / iPad landscape */
}

@media (max-width: 600px) {   /* iPad portrait / iPhone >=6 landscape */
  body, h1, h2, h3, h4, input, textarea, button, select, figcaption {
        font-size: 14px; line-height: 24px; }
  h1 { font-size: 12px; line-height: 24px; }
  h2 { font-size: 12px; line-height: 24px; }

  blockquote { border-color: rgb(0,0,0); }
}

@media (max-width: 320px) {   /* iPhone portrait / iPhone <=5 landscape */
}
