@media screen and (max-width: 1000px) { /* Tablet */
    main {
        display: block;
    }
}

@media screen and (max-width: 760px) { /* Phone */
    body {
        margin: 30px;
    }

    main {
        display: block;
    }

    .uploader {
        display: block;
    }
    .file {
        display: block;
        margin: 0 -10px;
        padding: 10px;
    }
    .file p {
        margin: 0;
        text-align: left;
    }
    .file p:first-child {
        padding-left: 0;
    }
    .file p:last-child {
        padding-right: 0;
    }

    .width50 { width: 100%; }
    .width25 { width: 50%; }
    .width20 { width: 40%; }
    .width15 { width: 30%; }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --anchor-color: var(--system-blue);
        --background-color: var(--system-black);
        --foreground-color: var(--system-white);
        --detail-foreground-color: var(--system-green);
        --detail-background-color: var(--system-dark-green);
        
        --system-light-gray: #333333;
    }
}