/* Tablet */
/* ------------------------------------------------------------------ */

@media screen and (max-width: 1024px) {
    :root {
        --hang: 0px;
    }

    body {
        margin: calc(var(--margin) * 1.5);
    }

    figure.small {
        width: 200px;
    }

    figure.medium {
        width: 400px;
    }

    .gallery img {
        height: 320px;
    }
}

/* Phone */
/* ------------------------------------------------------------------ */

@media screen and (max-width: 760px) {
    footer {
        padding-top: 0;
    }

    footer li {
        display: block;
    }

    footer li a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid var(--system-light-gray);
    }

    footer li a:hover {
        text-decoration: none;
    }

    footer li::before {
        display: none;
    }
}


/* Dark Mode */
/* ------------------------------------------------------------------ */

@media screen and (prefers-color-scheme: dark) {
    :root {
        --system-black: #FFF;
        --system-white: #000;
        --system-light-red: var(--system-dark-red);
        --system-light-yellow: var(--system-dark-yellow);
        --system-light-green: var(--system-dark-green);
        --system-light-blue: var(--system-dark-blue);
        --system-light-gray: rgba(255, 255, 255, 0.20);
    }
}