/* Tablet */
/* ------------------------------------------------------------------ */

@media screen and (max-width: 1024px) {
    :root {
        --hang: 0px;
    }

    body {
        grid-template-columns: minmax(0, 1fr) 150px;
        margin: 50px;
    }

    aside {
        padding-left: 40px;
    }

    figure.small {
        width: 200px;
    }

    figure.medium {
        width: 400px;
    }

    .gallery img {
        height: 320px;
    }
}

/* Phone */
/* ------------------------------------------------------------------ */

@media screen and (max-width: 760px) {
    :root {
        --body-size: 18px;
        --body-line-height: 27px;
        --body-letter-spacing: -0.014em;
        --body-weight: 400;

        --title-size: 24px;
        --title-line-height: 34px;
        --title-weight: 700;
        --title-letter-spacing: -0.019em;

        --header-size: var(--title-size);
        --header-line-height: var(--title-line-height);
        --header-weight: 400;
        --header-letter-spacing: var(--title-letter-spacing);

        --caption-size: 15px;
        --caption-line-height: 21px;
        --caption-weight: var(--body-weight);
        --caption-letter-spacing: -0.009em;
    }

    body {
        grid-template-columns: auto auto;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer"
            "aside aside";
        margin: 0 40px;
    }

    aside {
        padding-left: 0;
    }

    aside li {
        margin: 0;
    }

    aside li:last-child {
        border-bottom: none;
    }

    aside li a {
        display: block;
        margin: 0;
        padding: 8px 0;
    }

    figure {
        float: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    figure.small,
    figure.medium {
        width: 100%;
    }
}

/* Dark Mode */
/* ------------------------------------------------------------------ */

@media screen and (prefers-color-scheme: dark) {
    :root {
        --system-black: #F7F5F2;
        --system-white: rgba(0, 0, 0, 0.9);
        --system-light-red: var(--system-dark-red);
        --system-light-yellow: var(--system-dark-yellow);
        --system-light-green: var(--system-dark-green);
        --system-light-blue: var(--system-dark-blue);
    }
}