@import url('https://rsms.me/inter/inter.css');
@import url("/styles/reset.css") only screen;

:root {
    --margin: 17px;
    --max-width: 1024px;
    --aside-width: 300px;

    --font-family: 'Inter', -apple-system, sans-serif;
    --font-feature-settings: "ss01", "zero", "cv05", "cv11";

    --body-size: 17px;
    --body-line-height: 24px;
    --body-letter-spacing: -0.013em;
    --body-weight: 400;

    --title-size: 24px;
    --title-line-height: 34px;
    --title-weight: 700;
    --title-letter-spacing: -0.019em;

    --header-size: 24px;
    --header-line-height: 34px;
    --header-weight: 400;
    --header-letter-spacing: -0.019em;

    --caption-size: 15px;
    --caption-line-height: 21px;
    --caption-weight: var(--body-weight);
    --caption-letter-spacing: -0.009em;
    --caption-opacity: 0.35;

    --strong-weight: 700;

    --mono: monospace;
    --mono-size: 13px;
    --mono-line-height: 18px;
    --mono-letter-spacing: 0;

    --system-white: #FFF;
    --system-black: #000;
    --system-gray: #888888;
    --system-red: #F26F42;
    --system-yellow: #F2C53D;
    --system-green: #79BF56;
    --system-blue: #50B4E6;

    --system-light-red: #F9C5B3;
    --system-light-yellow: #F9E7B1;
    --system-light-green: #C9E5BB;
    --system-light-blue: #B8E0F5;
    --system-light-gray: rgba(0, 0, 0, 0.15);

    --system-dark-red: #A64929;
    --system-dark-yellow: #B3912D;
    --system-dark-green: #598C3F;
    --system-dark-blue: #3A82A6;

    --hang: -80px;
    --border-radius: 6px;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    display: grid;
    grid-template-columns: minmax(0, 1fr) max-content;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    gap: 0 calc(var(--margin) * 4);
    margin: 0 auto;
    padding: 50px;
    max-width: var(--max-width);
    font-family: var(--font-family);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
    background-color: var(--system-white);
    color: var(--system-black);
    font-feature-settings: var(--font-feature-settings);
    overflow-wrap: anywhere;
    hyphens: auto;
}

header {
    grid-area: header;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0 !important;
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}

main {
    grid-area: main;
    margin-bottom: calc(var(--margin) * 2);
}

aside {
    grid-area: aside;
}

aside ul li::before {
    display: none;
}

article {
    margin-bottom: calc(var(--margin) * 2);
}

footer {
    grid-area: footer;
    margin: 100px 0;
    padding: 20px 0;
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    letter-spacing: var(--caption-letter-spacing);
    opacity: var(--caption-opacity);
}

section {
    margin-bottom: var(--margin);
    padding-bottom: var(--margin);
}

section *:last-child {
    margin-bottom: 0;
}

h1 {
    font-size: var(--title-size);
    line-height: var(--title-line-height);
    font-weight: var(--title-weight);
    letter-spacing: var(--title-letter-spacing);
    color: var(--system-black);
}

h2 {
    font-size: var(--header-size);
    line-height: var(--header-line-height);
    font-weight: var(--header-weight);
    letter-spacing: var(--header-letter-spacing);
}

h3,
h4,
h5,
h6 {
    font-weight: var(--strong-weight);
}

h1+h2,
h2+h3,
h3+h4 {
    margin-top: calc(var(--margin) * -1);
    font-weight: var(--body-weight);
}

h3+p,
h3+table,
h3+ul {
    margin-top: calc(var(--margin) * -0.5);
}

h5+p,
h6+p,
h3+table,
h4+table,
h5+table,
h6+table,
h5+ul,
h6+ul {
    margin-top: calc(var(--margin) * -1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
table {
    margin: var(--margin) 0;
}

h1 a,
h2 a,
h3 a {
    color: var(--system-black);
    text-decoration: none;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--system-black);
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: var(--strong-weight);
}

em {
    font-style: italic;
}

em a {
    color: inherit;
}

h1 em {
    font-style: normal;
    font-weight: 300;
    color: var(--system-black);
}

img {
    width: 100%;
}

blockquote {
    position: relative;
    padding: 20px;
    background-color: var(--system-light-yellow);
    color: var(--system-dark-yellow);
    font-style: italic;
    overflow: hidden;
}

blockquote::after {
    position: absolute;
    content: "";
    right: -20px;
    bottom: -20px;
    width: 40px;
    height: 40px;
    background-color: var(--system-white);
    transform: rotate(45deg);
}

blockquote::before {
    position: absolute;
    content: "";
    right: -12px;
    bottom: -12px;
    width: 40px;
    height: 40px;
    background-color: var(--system-yellow);
}

blockquote *:first-child {
    margin-top: 0;
}

blockquote *:last-child {
    margin-bottom: 0;
}

hr {
    display: block;
    margin: calc(var(--margin) * 2) 0;
    border: none;
    height: 3px;
    background-color: var(--system-black);
    opacity: 0.15;
}

li::before {
    content: "-";
    display: inline-block;
    width: 16px;
    margin-left: -16px;
    opacity: var(--caption-opacity);
}

pre {
    padding: 20px;
    background: var(--system-black);
    color: var(--system-white);
    border-radius: var(--border-radius);
    overflow: auto;
}

code {
    font-family: var(--mono);
    font-size: var(--mono-size);
    line-height: var(--mono-line-height);
}

/* Forms */
/* ------------------------------------------------------------------ */

input[type=text],
input[type=password],
textarea,
span.input {
    display: block;
    margin: calc(var(--margin) / 4) 0;
    width: 100%;
    font-family: var(--mono);
    font-size: var(--mono-size);
    line-height: var(--mono-line-height);
    background: var(--system-white);
    border: 1px solid var(--system-light-gray);
    border-radius: var(--border-radius);
    color: var(--system-black);
}

textarea {
    display: block;
    padding: 10px;
    height: 100px;
}

textarea.medium {
    height: 150px;
}

textarea.large {
    height: 400px;
}

input[type=text],
input[type=password] {
    padding: 10px;
}

label {
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    line-height: var(--caption-line-height);
    letter-spacing: var(--caption-letter-spacing);
    text-transform: uppercase;
    color: var(--system-gray);
}

button,
input[type=submit],
.button {
    display: inline-block;
    margin-right: calc(var(--margin) / 2);
    padding: 10px 30px;
    background-color: var(--system-light-gray);
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--system-black);
    border-radius: var(--border-radius);
}

button.destructive,
input[type=submit].destructive {
    border-color: var(--system-red);
    color: var(--system-red);
}

dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    flex-basis: 20%;
    padding: 4px 0;
    border-bottom: 1px solid var(--system-light-gray);
    font-weight: 500;
}

dd {
    flex-basis: 80%;
    padding: 4px 0;
    border-bottom: 1px solid var(--system-light-gray);
}

/* Tables */
/* ------------------------------------------------------------------ */

table {
    width: 100%;
    border-top: 1px solid var(--system-light-gray);
    border-collapse: collapse;
    font-family: var(--mono);
    font-size: var(--mono-size);
    line-height: var(--mono-line-height);
}

th,
td {
    padding: 4px 0;
    border-bottom: 1px solid var(--system-light-gray);
    text-align: left;
}

th {
    font-weight: 600;
    color: var(--system-gray);
}

th[align="right"],
td[align="right"] {
    text-align: right;
}

/* Shortcodes */
/* ------------------------------------------------------------------ */

figure {
    margin: var(--margin) 0;
}

figure img {
    width: 100%;
}

figure.right {
    float: right;
    margin-top: 0;
    margin-left: var(--margin);
}

figure.right.hang {
    margin-right: var(--hang);
}

figure.left {
    float: left;
    margin-top: 0;
    margin-right: var(--margin);
}

figure.left.hang {
    margin-left: var(--hang);
}

figure.center {
    margin-right: auto;
    margin-left: auto;
}

figure.small {
    width: 250px;
}

figure.medium {
    width: 450px;
}

figcaption {
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    line-height: var(--caption-line-height);
    letter-spacing: var(--caption-letter-spacing);
    opacity: var(--caption-opacity);
}

figcaption a {
    text-decoration: none;
    color: inherit;
}

.gallery {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 20px 0;
    border-top: 1px solid var(--system-light-gray);
    border-bottom: 1px solid var(--system-light-gray);
    overflow: scroll;
}

.gallery a {
    display: block;
    padding: 0;
}

.gallery img {
    display: block;
    width: auto;
    height: 450px;
}

/* Pagination */
/* ------------------------------------------------------------------ */

.pagination {
    font-family: var(--sans-text);
    font-size: 14px;
    line-height: 20px;
}

.pagination li::before {
    content: "";
}

.pagination .page-item {
    display: inline-block;
}

.pagination .page-item a {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid var(--system-black);
    text-decoration: none;
    color: var(--system-black)
}

.pagination .page-item a:hover {
    background-color: var(--system-black);
    color: var(--system-white);
}

.pagination .disabled a,
.pagination .disabled a:hover {
    opacity: 0.2;
}

.pagination .disabled a:hover {
    background: none;
    color: var(--system-black);
}

.pagination .active a,
.pagination .active a:hover {
    background-color: var(--system-black);
    color: var(--system-white);
}

.pagination .page-item a[aria-label=First] span,
.pagination .page-item a[aria-label=Last] span,
.pagination .page-item a[aria-label=Previous] span,
.pagination .page-item a[aria-label=Next] span {
    display: none;
}

.pagination .page-item a[aria-label=First]:after {
    content: "⇐";
}


.pagination .page-item a[aria-label=Previous]:after {
    content: "←";
}

.pagination .page-item a[aria-label=Next]:after {
    content: "→";
}

.pagination .page-item a[aria-label=Last]:after {
    content: "⇒";
}

/* Pivots */
/* ------------------------------------------------------------------ */

.pivots {
    font-family: var(--sans-text);
    font-size: 14px;
    line-height: 20px;
}

.pivots li::before {
    content: "";
}

.pivots li {
    display: inline-block;
}

.pivots li a {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid var(--system-black);
    text-decoration: none;
    color: var(--system-black)
}

.pivots li a:hover {
    background-color: var(--system-black);
    color: var(--system-white);
}

/* Posts */
/* ------------------------------------------------------------------ */

h3+.summary,
p+.continue {
    margin-top: calc(var(--margin) * -0.5);
}

.continue {
    display: inline-block;
    font-family: var(--sans-text);
    font-size: 14px;
    line-height: 20px;
}

.continue a {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid var(--system-black);
    text-decoration: none;
    color: var(--system-black)
}

.continue a:hover {
    background-color: var(--system-black);
    color: var(--system-white);
}

/* Terminal Theme */
/* ------------------------------------------------------------------ */

body.terminal {
    font-family: var(--mono);
    font-size: var(--mono-size);
    line-height: var(--mono-line-height);
    font-weight: var(--mono-weight);
    letter-spacing: var(--mono-letter-spacing);
}

body.terminal a {
    text-decoration-thickness: 1px;
    text-decoration-color: var(--system-light-gray);
}

body.terminal header h1::after {
    content: "";
    display: inline-block;
    margin-bottom: -4px;
    width: 10px;
    height: 26px;
    background: var(--system-black);
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        background: transparent;
    }

    50% {
        background: var(--system-black);
    }
}

@media screen and (prefers-color-scheme: dark) {
    body.terminal h3 {
        color: #1DC121;
    }

    body.terminal h4 {
        color: #C839C5;
    }

    body.terminal dt {
        color: #C7C329;
    }
}